{% extends 'base.html' %}

{% block content %}
<!-- Conteúdo Principal -->
<main role="main" class="ml-sm-auto px-4" id="content">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h2 mb-0" style="font-weight: normal;">CONTAS</h1>
  </div>
  <h5 style="font-weight: normal;">Tabela de Contas Atualizada.</h5>
  <br>

  <!-- Tabela das contas -->
  <div class="table-responsive">
    <table class="table table-striped table-sm table-bordered" id="supplierTable">
      <thead>
        <tr>
          <th><h6>NOME</h6></th>
          <th><h6>VALOR</h6></th>
        </tr>
      </thead>
      <tbody>
        {% for item in conta %}
        <tr>
          <td><a href="#" data-toggle="modal" data-target="#modal{{ item.id }}">{{ item.nome }}</a></td>
          <td>{{ item.valor }}</td>
        </tr>

        <div class="modal fade" id="modal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">AVISO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Escolha a opção.
              </div>
              <div class="modal-footer">
                <a href="{% url 'edicao' item.id %}">
                  <button type="button" class="btn btn-info"><i class="fas fa-edit"></i></button>
                </a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" data-id="{{ item.id }}">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
      </tbody>
    </table>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AVISO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tem certeza que quer excluir esse item permanentemente?
      </div>
      <div class="modal-footer">
        <a id="confirmDeleteBtn" type="button" class="btn btn-danger">Excluir</a>
      </div>
    </div>
  </div>
</div>
<!-- Carregue o jQuery completo -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Inicializa o sidebar como colapsado e o conteúdo expandido
    document.getElementById('sidebar').classList.add('collapsed');
    document.getElementById('content').classList.add('expanded');

    // Evento para alternar o estado do sidebar ao clicar no botão
    document.getElementById('sidebarToggle').addEventListener('click', function() {
      document.getElementById('sidebar').classList.toggle('collapsed');
      document.getElementById('content').classList.toggle('expanded');
    });

    // Gerenciamento dos dropdowns
    document.querySelectorAll('#sidebar .dropdown-toggle').forEach(function(toggle) {
      toggle.addEventListener('click', function(event) {
        event.preventDefault();
        const menu = this.nextElementSibling;
        const isVisible = menu.classList.contains('show');
        
        // Esconder todos os dropdowns
        document.querySelectorAll('#sidebar .dropdown-menu').forEach(function(dropdown) {
          dropdown.classList.remove('show');
        });

        // Mostrar o dropdown clicado
        if (!isVisible) {
          menu.classList.add('show');
        }
      });
    });
  });

  $('#exampleModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Botão que acionou o modal
    var id = button.data('id'); // Extrai o ID da conta
    var url = "{% url 'deleteConta' 0 %}".replace('0', id); // Gera o URL dinâmico
    $('#confirmDeleteBtn').attr('href', url); // Atualiza o link de exclusão com o ID correto
  });
</script>

<style>
  #supplierTable th, #supplierTable td {
    border-width: 1px; /* Define a espessura das bordas */
    border-color: #000; /* Define a cor das bordas */
  }
</style>
{% endblock %}
