{% extends 'base.html' %}

{% block content %}
<!-- Conteúdo Principal -->
<main role="main" class="ml-sm-auto px-4" id="content">
    <div class="row d-flex justify-content-center">
        <form id="meuFormulario" action="{% url 'editarForn' fornecedor.id %}" method="post">
            <h1 style="color: #333; text-transform: uppercase; font-weight: normal;">
                Edição do Fornecedor
            </h1>
            <hr style="border-top: 2px solid #333; margin-bottom: 20px;">

            <h4 style="color: #333; text-transform: uppercase; font-weight: normal;">
                - Descrição do Fornecedor:
            </h4>
            <table style="width: 100%; border-collapse: collapse; color: #333; font-size: 16px;">
                <tr>
                    <td style="padding: 10px; font-weight: 500; border-bottom: 1px solid #ddd; width: 30%;">
                        Nome:
                    </td>
                    <td style="padding: 10px; border-bottom: 1px solid #ddd;">
                        {{ fornecedor.nome }}
                    </td>
                </tr>
                <tr>
                    <td style="padding: 10px; font-weight: 500; border-bottom: 1px solid #ddd;">
                        Telefone:
                    </td>
                    <td style="padding: 10px; border-bottom: 1px solid #ddd;">
                        {{ fornecedor.telefone }}
                    </td>
                </tr>
            </table>
            <br>
            {% csrf_token %}
            <label>Nome</label>
            <input type="text" name="nome" class="form-control" value="{{ fornecedor.nome }}" required>
            <br><br>
            <label>Telefone</label>
            <input type="text" name="tel" class="form-control" value="{{ fornecedor.telefone }}">
            <br><br>
            <button type="submit" class="btn btn-dark btn-block custom-hover">Salvar</button>
        </form>
    </div>
</main>

<!-- Carregue o jQuery completo -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('meuFormulario');

        form.addEventListener('submit', function(event) {
            const selectGrupo = document.getElementById('exampleFormControlSelect1');

            // Verifica se a opção selecionada é a predefinida
            if (selectGrupo.value === "") {
                event.preventDefault(); // Impede o envio do formulário
                $('#erroModal').modal('show'); // Mostra o modal
            }
        });
    });

    // Inicializa o sidebar como colapsado e o conteúdo expandido
    document.getElementById('sidebar').classList.add('collapsed');
    document.getElementById('content').classList.add('expanded');

    // Evento para alternar o estado do sidebar ao clicar no botão
    document.getElementById('sidebarToggle').addEventListener('click', function() {
        document.getElementById('sidebar').classList.toggle('collapsed');
        document.getElementById('content').classList.toggle('expanded');
    });

    // Gerenciamento dos dropdowns
    document.querySelectorAll('#sidebar .dropdown-toggle').forEach(function(toggle) {
        toggle.addEventListener('click', function(event) {
            event.preventDefault();
            const menu = this.nextElementSibling;
            const isVisible = menu.classList.contains('show');

            // Esconder todos os dropdowns
            document.querySelectorAll('#sidebar .dropdown-menu').forEach(function(dropdown) {
                dropdown.classList.remove('show');
            });

            // Mostrar o dropdown clicado
            if (!isVisible) {
                menu.classList.add('show');
            }
        });
    });
</script>
{% endblock %}
